version: '3.3'
services: 
  rabbit:
    hostname: rabbit
    image: rabbitmq:latest
    environment:
        - RABBITMQ_DEFAULT_USER=admin
        - RABBITMQ_DEFAULT_PASS=mypass
    ports:
        - "5673:5672"

  worker:
    build: 
      context: .
      dockerfile: Dockerfile
    # command: ['celery','-A','task_celery.tasks', 'worker', '--loglevel=info']
    depends_on:
      - rabbit
    volumes:
      - .:/app
    

  # consumer:
  #   build: 
  #     context: .
  #     dockerfile: Dockerfile
  #   command : ['python3', 'task_celery/consumer.py']
  #   depends_on:
  #     - rabbit
  #     - worker